:root {
  --primary-color: #4caf50;
  --secondary-color: #f8f8f8;
  --border-radius: 8px;
  --padding: 12px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h4, span {
 color: black;
}


@font-face {
  font-family: 'RedHatText';
  src: url('../assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatText';
  src: url('../assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.loading-screen {
  align-items: center;
  background-color: #fcf8f5;
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #c83b0e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bodyWrapper {
  background-color: #fcf8f5;
  font-family: 'RedHatText';
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  padding: 100px 150px;
  position: fixed;
  top: 0;
  width: 100vw;
}

.productsWrapper {
  background-color: #fcf8f5;
  display: flex;
}

.ProductsList {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-right: 50px;
  max-width: 70%;
}

.productCard {
  box-sizing: border-box;
  padding: 10px;
  flex: 1 1 calc(33.33% - 40px);
  max-width: calc(33.33% - 40px);
}

.cartWrapper {
  display: flex;
  width: 24%;
}

.selected {
  box-shadow: 0 0 0 2px #c83b0e; 
  border-radius: 15px;
}

@media (max-width: 412px) {
  * {
    max-width: 100%;
  }

  .bodyWrapper {
    width: 100%;
    justify-content: center;
    padding: 10px;
  }

  .ProductsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .productsWrapper {
    flex-direction: column;
    align-items: center;
  }

  .productCardWrapper {
    min-width: 300px;
    width: 90%;
  }

  .cartWrapper {
    width: 100%;
  }
}